{{>headers/new}}


<!-- Writing Area -->
<div class="container">
    <form action="/article/request" method="post" class="regForm" enctype="multipart/form-data">
        <div class="inputBox">
            <input type="text" name="title" id="title" placeholder="Article Title*" required>
        </div>
        <div class="inputBox">
            <input type="text" name="description" id="description" maxlength="150" required
                placeholder="Article Description*">
        </div>
        <div class="inputBox">
            <select name="category" id="category" required>
                <option value="" disabled selected>Select a category</option>
                <option value="arts">Arts</option>
                <option value="business">Business</option>
                <option value="education">Education</option>
                <option value="entertainment">Entertainment</option>
                <option value="health">Health</option>
                <option value="lifestyle">Lifestyle</option>
                <option value="news">News</option>
                <option value="politics">Politics</option>
                <option value="programming">Programming</option>
                <option value="science">Science</option>
                <option value="sports">Sports</option>
                <option value="technology">Technology</option>
                <option value="travel">Travel</option>
                <option value="others">Others</option>
            </select>
        </div>

        <div class="inputBox customCategory hide">
            <input type="text" name="custom_category" id="customCategory" placeholder="Custom Category*">
        </div>

        <input type="file" name="thumbnail" hidden accept="image/jpg, image/jpeg, image/png" id="profileInp" required>
        <div id="inputProfile" class="inputProfile"
            style="background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjyToeAH0Yw-KYJYVNPNZpfFo01EkgFB7RciZ4KZFNV-9fDhbXqWvGw2AnfyjaaFOMveb9nX69tzrD6EFkZPuu7ee2WylQBbeFeGxaJP6d7HoeVuIIbA9H-vndcJyCRHcC_zAnDojygpdBOjb1xTAnf5wx28366D3lGKP35jPxh2F2vfxQ/s220/IMG_20240502_231437_652.jpg');">
            <button type="button">
                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"
                    class="style-scope tp-yt-iron-icon"
                    style="pointer-events: none; display: block; width: 34px; height: 34px; fill: #fff;">
                    <g width="24" height="24" viewBox="0 0 24 24" class="style-scope tp-yt-iron-icon">
                        <path
                            d="M14.06 7.6L16.4 9.94L6.34 20H4V17.66L14.06 7.6ZM14.06 6.19L3 17.25V21H6.75L17.81 9.94L14.06 6.19ZM17.61 4.05L19.98 6.42L18.84 7.56L16.47 5.19L17.61 4.05ZM17.61 2.63L15.06 5.18L18.85 8.97001L21.4 6.42L17.61 2.63Z"
                            class="style-scope tp-yt-iron-icon"></path>
                    </g>
                </svg>
            </button>
        </div>

        <div class="inputText">
            <span class="textMsg">The thumbnail image should have dimensions of <span
                    style="color: #0078e8;">1920x1080</span>
                pixels.</span>
        </div>

        <div class="textBox">
            <textarea name="content" id="content" required></textarea>
        </div>

        <!-- <div class="inputBox">
                <input type="text" name="last_name" id="last_name" placeholder="Last Name">
            </div>
            <div class="inputBox">
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <div class="inputBox">
                <input type="tel" name="phone" id="phone" placeholder="Phone">
            </div>
            <div class="inputBox">
                <input type="password" placeholder="Password" name="password" id="password">
            </div> -->
        <!-- <div class="inputText">
                <input type="checkbox" name="terms_accept" id="terms">
                <span>
                    By using our services, you are accepting our <a href="terms-and-conditions.html"
                        target="_blank">terms and conditions</a>.
                </span>
            </div> -->
        <div class="inputText">
            <span class="textMsg" style="color: red;">
                If the request button is still disabled, please ensure all fields are correctly filled. If it
                remains disabled, try editing your title to trigger the validation.
            </span>
        </div>
        <div class="inputBox">
            <button disabled class="regButton disabled">
                Request
            </button>
        </div>
        <!-- <div class="inputText">
                <span>Do you have a account? <a href="./login.html">LogIn</a>.</span>
            </div> -->
    </form>
</div>

<br><br>


<!-- Image preview script -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputProfileDiv = document.getElementById('inputProfile');
        const fileInput = document.getElementById('profileInp');
        const saveButton = document.querySelector('.regButton');
        const errorMsg = document.querySelector('.textMsg');
        const title = document.getElementById('title');
        const category = document.getElementById('category');
        const content = document.getElementById('content');
        const customCategory = document.getElementById('customCategory');
        const customCatBox = document.querySelector('.customCategory');

        function validateForm() {
            if (title.value !== '' && fileInput.value !== '' && category.value !== '' && tinymce.get('content').getContent() !== '') {
                if (category.value === 'others' && customCategory.value === '') {
                    saveButton.setAttribute('disabled', 'true');
                    saveButton.classList.add('disabled');
                } else {
                    saveButton.removeAttribute('disabled');
                    saveButton.classList.remove('disabled');
                }
            } else {
                saveButton.setAttribute('disabled', 'true');
                saveButton.classList.add('disabled');
            }
        }

        title.addEventListener('change', validateForm);
        category.addEventListener('change', function (event) {
            if (event.target.value === 'others') {
                customCatBox.classList.remove('hide');
            } else {
                customCatBox.classList.add('hide');
            }
            validateForm();
        });

        content.addEventListener('change', validateForm);

        fileInput.addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (!file) return;

            const img = new Image();
            const reader = new FileReader();

            reader.onload = function (e) {
                img.src = e.target.result;
                img.onload = function () {
                    const width = img.naturalWidth;
                    const height = img.naturalHeight;

                    if (width !== 1920 || height !== 1080) {
                        saveButton.setAttribute('disabled', 'true');
                        saveButton.classList.add('disabled');
                        errorMsg.style.color = 'red';
                        errorMsg.textContent = 'Image dimensions must be 1920x1080';
                    } else {
                        errorMsg.style.color = 'green';
                        errorMsg.textContent = 'Image dimensions are correct';
                        validateForm();
                    }

                    inputProfileDiv.style.backgroundImage = `url(${e.target.result})`;
                };
            };

            reader.readAsDataURL(file);
        });

        inputProfileDiv.addEventListener('click', function () {
            fileInput.click();
        });
    });
</script>