<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  {{!-- Icons --}}
  <link rel="apple-touch-icon" sizes="180x180" href="https://grovixlab.com/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://grovixlab.com/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://grovixlab.com/icons/favicon-16x16.png">
  <link rel="manifest" href="https://grovixlab.com/icons/site.webmanifest">
  <link rel="mask-icon" href="https://grovixlab.com/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="https://grovixlab.com/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="https://grovixlab.com/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/css/style.css">
  {{#if style}}
  {{#each style}}
  <link rel="stylesheet" href="/css/{{this}}.css">
  {{/each}}
  {{/if}}

  {{!-- <script src="https://cdn.tiny.cloud/1/llcxlum3gmbfg1bensi9kvrv8tja8gvivpyyhqtsl1y09i50/tinymce/7/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: '#content',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
    });
  </script> --}}
</head>

<body>

  {{{body}}}

  {{!-- Footer --}}
  {{> footer}}
</body>

</html>