{{> headers/user/header}}

<!-- Landing Coming Soon -->
{{!-- <div class="comingSoon">
    <div class="comgText">
        <span>Landing Page Coming Soon! Stay tuned for an amazing experience <span class="higlight">:)</span></span>
    </div>
</div> --}}

{{>search}}