<div class="container">
    <form action="/auth/signup" method="post" class="regForm">
        <div class="inputImage">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="inputBox">
            <input type="text" name="first_name" id="firts_name" placeholder="First Name">
        </div>
        <div class="inputBox">
            <input type="text" name="last_name" id="last_name" placeholder="Last Name">
        </div>
        <div class="inputBox">
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="inputBox">
            <input type="tel" name="phone" id="phone" placeholder="Phone">
        </div>
        <div class="inputBox">
            <input type="password" placeholder="Password" name="password" id="password">
        </div>
        <div class="inputText">
            <input type="checkbox" name="terms_accept" id="terms">
            <span>
                By using our services, you are accepting our <a href="terms-and-conditions.html" target="_blank">terms
                    and conditions</a>.
            </span>
        </div>
        {{#if error}}
        <div class="inputText">
            <span class="textMsg" style="color: red;">{{error.message}}</span>
        </div>
        {{/if}}
        <div class="inputBox">
            <button>
                SignUp
            </button>
        </div>
        <div class="inputText">
            <span>Do you have a account? <a href="/auth/login">LogIn</a>.</span>
        </div>
    </form>
</div>