{{> headers/trending_header}}

<!-- Landing Coming Soon -->
<div class="comingSoon">
    <div class="comgText">
        <span>Trending Page Coming Soon! Stay tuned for an amazing experience <span class="higlight">:)</span></span>
    </div>
</div>