<div class="container">
    <form action="" class="regForm">
        <div class="inputImage">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="inputBox">
            <input type="number" name="otp" id="otp" placeholder="Verification Code">
        </div>
        <div class="inputBox">
            <button>
                LogIn
            </button>
        </div>
        <div class="inputText">
            <span>You haven't received a verification code? Please check your email's <span style="color: #0078e8;">spam
                    or junk</span> folder.</span>
        </div>
    </form>
</div>